html, body{
    margin: 0%;
    padding: 0%;
    position: relative;
    background-color: antiquewhite;
}
*{
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.sticky-note-box{
    background-color: white;
    margin: 5% auto auto auto;
    height: auto;
    width: 50%;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);

}
.sticky-note-holder{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 0.5em;
    width: 100%;
}
.note{
    width: 218px;
    height: 218px; 

    border-radius: 10px;
    padding: 10px;
    position: relative;
    overflow-y: scroll;
}
.note *{
    margin: 0%;
}
.note:hover .note-delete{
    visibility: visible;
}
.note-add{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(215, 215, 215);
    position: relative;
}
.new-note-div{
    background-color: white;
    position: fixed;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    visibility: hidden;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    z-index: 20;
}
.note-delete{
    position: absolute; bottom: 5px; right: 5px;
    visibility: hidden;
}
textarea{
    resize: none;
}